@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');

:root {
  --screen-bgc: black;

  --game-text-font: 'Press Start 2P', cursive;
  --game-text-color: #00FF00;

  --leaderboard-color: #FFFF00;

  --play-again-color: #0000FF;

  --quit-color: #FF0000;

  --hover-select-color: white;
  --hover-select-bgc: #010202;

  --border-size: 6px;
  --border-radius: 2rem;
  --border-style: ridge;
}

* {
    font-family: var(--game-text-font); 
}

button {
    color: white; 
    background-color: black; 
    padding: 2rem; 
    border: none;
}

/* sets boundaries of page and centers children containers*/
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
    
    color: var(--game-text-color);    
    background-color: var(--screen-bgc);
    /* overflow: scroll; */
}

.main-container {
    height: fit-content;
    width: fit-content;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
    padding: 2rem;
    
    border: var(--game-text-color) solid var(--border-size); 
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.content-container {
    text-align: center;
    
    width: 60vw;
    margin: 1rem;
    padding: .5rem;

    border: var(--game-text-color) solid var(--border-size); 
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.text-container {
    text-align: center;
    
    height: fit-content;
    width: 60vw;
    padding: .5rem;

    overflow: auto;
}

.input-container {
    text-align: center;
    font-size: 1rem; 

    margin-bottom: .5rem; 
    padding: .5rem; 
    
    background-color: black; 
    color: white; 
    outline: none;

    border:var(--game-text-color) solid 2px ;
    border-radius: .5rem; 
    border-style: ridge; 

}

.header-container {
    padding: .5rem;

    border: var(--game-text-color) solid var(--border-size); 
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.accordion {
    display:flex;
    justify-content: center;
    align-self: center;
    
    height: fit-content;

    font-size: 1rem;
    cursor: pointer;
}

.panel {
    padding: 0 1rem;
    max-height: 0;
    overflow: auto;
    transition: 0.5s ease-in-out;
}

.pulse {
    cursor: pointer;
    user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    
    animation: pulse 1s infinite;
    transition: all 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 .25rem white;
        color: white;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 var(--game-text-color, 0);
    }
}

.select-a {
    transition: .2s ease-in-out;
}

.select-a:hover {
    transform: scale(1.05);

    color: var(--leaderboard-color);
    box-shadow: 0 0 0 .25rem var(--leaderboard-color);
}

.select-b {
    transition: .2s ease-in-out;
}

.select-b:hover {
    transform: scale(1.05);

    color: var(--play-again-color);
    box-shadow: 0 0 0 .25rem var(--play-again-color);
}

.select-c {
    transition: .2s ease-in-out;
}

.select-c:hover {
    transform: scale(1.05);

    color: var(--quit-color);
    box-shadow: 0 0 0 .25rem var(--quit-color);
}

.select-choice {
    transition: .2s ease-in-out;
}

.select-choice:hover {
    transform: scale(1.05);

    color: var(--hover-select-color);
    box-shadow: 0 0 0 .25rem var(--hover-select-color);
}

.a-link {
    color: var(--game-text-color);
    text-decoration: none;
}

.line-height {
    line-height: 2;
}

.choice-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 60vw;
    margin: 1rem;
    padding: .5rem;

    
    border: var(--game-text-color) solid var(--border-size); 
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.choice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;

    height: 15%;
    width: 55vw;

    margin: .5rem;
    border: var(--game-text-color) solid var(--border-size);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.choice-prefix {
    display: flex;

    margin-left: 1rem;

    color: var(--hover-select-bgc);
    background-color: var(--game-text-color);

    border: var(--game-text-color) solid var(--border-size);
    border-radius: 50%;
}

.choice-text {
    display: flex;

    margin-left: 1rem;
}

.timer-score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 60vw;
    margin: 1rem;
    padding: .5rem;

    border: var(--game-text-color) solid var(--border-size); 
    border-radius: var(--border-radius);
    border-style: var(--border-style);
}

.leaderboard-text {
    font-family: var(--game-text-font);
    font-size: 1rem;
    color: var(--game-text-color);
    line-height: 2;
}

.correct {
    background: var(--leaderboard-color);
}

.incorrect {
    background: var(--quit-color);
}

@media screen and (max-width: 768px) {
    .main-container {
        min-width: 30rem;
    }
}
