.form-font-size {
    color: white;
    font-size: .8rem;
}
input {
    text-align: center;
    color: white;
    border: .25rem solid var(--game-text-color);
    border-radius: .5rem;
    border-style: ridge;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
}

input:focus {
    outline: none;
}

/* controls the prefix text in front of the final score */
.final-score {
    font-size: .8rem;
}

/* controls the size of the score font within the <span> */
#final-score {
    font-size: .8rem;
}


::placeholder {
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

#submit-button {
  color: var(--game-text-color);
  background-color: var(--bgc);
  border: var(--game-text-color) solid .25rem;
  border-style: ridge;
  border-radius: .5rem;
  margin: 0 0 0 0;
  padding: .5rem .5rem;
  width: 100%;
  height: auto;
  max-width: 700px;
}

/* adds mobile accessibility to fit the screen when resized */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    input {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* form {
        font-size: .25rem;
    } */
  }