@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
/* font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace; */

:root {
  --bgc: black;
  --game-text-color: #12FF06;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--bgc);
  /* font-size: 1rem; */
}

/* aligns the contents directly in the middle of the page */
/* makes the background color black(--bgc) */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  height: 100vh;
  width: 100vw;
  min-width: ;
  background-color: var(--bgc);
}

/* keeps the <div> with the .header-box class and the menu containing the <a> elements together */
/* aligns the text to the center */
.screen-center {
  display: block;
  text-align: center;
  line-height: 2;
}

/* this contains the header '//What is Coding?_' */
.header-box {
  color: var(--game-text-color);
  background-color: var(--bgc);
  border: var(--game-text-color) solid .25rem;
  border-style: ridge;
  border-radius: .5rem;
  margin: 0 0 0 0;
  padding: .5rem .5rem;
  width: 95vw;
  height: auto;
  max-width: 700px;
}


/* stops the header-box from being selected/highlighted */
.prevent-select {
  user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
}

/* just a style choice, I thought it would fit the theme to make the cursor a question mark */
.prevent-select:hover {
  cursor: help
}

h1 {
  color: var(--game-text-color);
  background-color: var(--bgc);
}

/* controls the typing animations parameters and hides the heading until the animation is complete */
.typewriter {
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  transition: all 0.3s ease-in-out;
  animation: typing 3.5s steps(30, end), .5s step-end;
}

/* executes the typing animation for the header '//What is Coding?_ */
@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

/* makes the <a> elements within stack as a column in the center */
.menu-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--game-text-color);
  background-color: var(--bgc);
  text-decoration: none;
  border: var(--game-text-color) solid .25rem;
  border-style: ridge;
  border-radius: .5rem;
  margin: 1rem 0 0 0;
  padding: .5rem .5rem;
  
}

/* made this in order to show which button you are selecting */
.pulse {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* while hovering, the button for 'Start Quiz' and 'Leaderboard' will highlight white, in a 'pulse' fashion */
.pulse:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 .25rem white;
    color: white;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--game-text-color, 0);
  }
}

/* makes the '_' in the header to blink in and out every 1.5s infinitely */
.blink {
  animation: blink 1.5s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* adds mobile accessibility to fit the screen when resized */
@media screen and (max-width: 768px) {
  .container {
      display: flex;
      width: 100%;
      justify-content: center;
  }
  /* allows the header '//What is Coding' to fit when screen size is smaller */
  * {
    font-size: 1.25rem;
  }
}