@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
/* font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace; */

:root {
  --bgc: black;
  --game-text-color: #12FF06;
  --quiz-font: 'Press Start 2P', cursive;
}

* {
    background-color: var(--bgc);
    font-family: var(--quiz-font);
    color: var(--game-text-color);
    margin: 0 auto;
    transition: all 0.1s ease-in-out;
}

body {
    font-size: 100%;
}

/* Properties to use for my HTML if not included in class already */
.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-content-center {
    display: flex;
    align-items: center;
}

.fw-wrap {
    display: flex;
    flex-wrap: wrap;
}

.fw-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.fd-column {
    display: flex;
    flex-direction: column;
}

.fd-row {
    display: flex;
    flex-direction: row;
}

.margin-top {
    margin-top: 1rem;
}

.border {
    border: var(--game-text-color) solid .25rem;
    border-style: ridge;
    border-radius: .5rem;
}

.half-width {
    width: 50%;
}

/* Main CSS that will be applied to all pages(menu, quiz, summary, leaderboard) and holds every single page */
.main-container {
    /* border: red solid; */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* this confines a whole page to a boundary(menu page, quiz page, summary page, or leaderboard page) */
.page-container {
    /* border: white solid .25rem;
    border-style: ridge;
    border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
    text-align: center;
}

.header-container {
    border: var(--game-text-color) solid .25rem;
    border-style: ridge;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    
}

/* This container just insures that the .typewriter animation doesn't continue outside of its bounds */
.h1-container {
    /* border: orange solid; */
    display: flex;
    text-align: center;
    margin;
}

h1 {
    font-size: 1.5em; 
}

.text-container {
    border: var(--game-text-color) solid .25rem;
    border-radius: .5rem;
    border-style: ridge;
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
    text-align: center;
    padding: .5rem;
    margin: .5rem
}

p {
    /* border: grey solid; */
    display: flex;
    font-size: 1em;
    line-height: 2em;

}

.button-container {
    border: var(--game-text-color) solid .25rem;
    border-radius: .5rem;
    border-style: ridge;
    display: flex;
    margin: .5rem;
}

button {
    border: var(--game-text-color) solid .25rem;
    border-radius: .5rem;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
    font-size: 1.25em;
    line-height: 2em;
}

button:hover {
    cursor: pointer;
}

.pulse {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  /* while hovering, the button for 'Start Quiz' and 'Leaderboard' will highlight white, in a 'pulse' fashion */
  .pulse:hover {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
      box-shadow: 0 0 0 .25rem white;
      color: white;
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 var(--game-text-color, 0);
    }
}

/* stops the header-box from being selected/highlighted */
.prevent-select {
  user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
}

/* just a style choice, I thought it would fit the theme to make the cursor a question mark */
.prevent-select:hover {
  cursor: help
}

/* input:hover {
    cursor: text;
} */

/* This is in charge of making the <header> entry type out upon opening the page */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--game-text-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--game-text-color); }
}

@media screen and (max-width: 768px) {
    .text-container {
        width: 25rem;
    }

    /* This allows buttons to stack  */
    .button-container {
        flex-wrap: wrap;
    }

    .half-width {
        width: 100%;
    }
}
/* @media screen and (min-width) {
    .fd-row {
        flex-direction: column;
    }
} */
